html{
    height: 100%;
    background-color: #FFFACC;
    transition: .3s all;
}
._container{
    margin: 0 auto;
    max-width: 1380px;
    box-sizing: content-box;
    justify-content: center;

}
body{
    border-radius: 20px;
    height: 100%;
    margin: 0 auto;
}

.main{
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 150px;
    align-items: center;
    top: 1%;
    transition: .3s all;
    gap: 10px;
}

@media(max-width:1250px){
    .header{
        max-width: 900px; 
        margin-top: 20px;
        margin-bottom: 20px;
        transition: .3s all;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.profile{
    height: 100vh;

}
.profile__title{
    max-width: 100%;
    text-align: center;
}
.title__text{
    margin: 0px;
    font-family: Jockey One;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 141.667%;
    color: #432571;

}
.btn{
    max-width: 100%;
    width: 300px;
    min-height: 75px;
    border-radius: 20px;
    border: 2px solid #432571;
    background-color: #FFFACC;
    color: #432571;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .7s all;

}

.btn:first-child{
    background-color: #432571;
    color: #FFFACC;
}

.btn_title{
    position: relative;
    text-align: center;
    font-family: Jockey One;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 141.667%;
    margin: 0px; 
    top: 17px; 
}

.btn_title:not(:first-child){
    color: #432571;
}


.btn_link{
    color: inherit;
    text-decoration: none;
}
